<%= form_for(@new_pro) do |f| %>
  <% if @new_pro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_pro.errors.count, "error") %> prohibited this new_pro from being saved:</h2>

      <ul>
      <% @new_pro.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :lastName %><br />
    <%= f.text_field :lastName %>
  </div>
  <div class="field">
    <%= f.label :phoneNumber %><br />
    <%= f.text_field :phoneNumber %>
  </div>
  
  <div class="field">
    <%= f.label :country %><br />
    <%= f.select :country, DropDownMenus::COUNTRY %>
  </div>
  <div class="actions">
    <%= f.submit "Create PRO account" %>
  </div>
<% end %>
